<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @memo.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @memo.author %>
</p>

<p>
  <strong>Date:</strong>
  <%= @memo.date %>
</p>

<p>
  <strong>Content:</strong>
  <%= @memo.content %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @memo.priority %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @memo.tag.name %>
</p>

<p>
  <strong>Response:</strong>
  <% @memo.responses.each do |r| %>
  <br>
  User<%= current_user.id %> : <%= r.content %>
  <% end %>
</p>

<%= link_to 'response', new_response_path %>
<br>
<br>
<br>
<br>


<%= link_to 'Edit', edit_memo_path(@memo) %> |
<%= link_to 'Back', memos_path %>
