
<p id="notice"><%= notice %></p>
  <div class="row" >
    <!--Tag list area-->
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ">
      <div class="container" >
        <br>
        <%= link_to "Add Tag", new_user_tag_path, class:"btn btn-success btn-xs" %> <%= link_to "Delete Tag", user_tags_path, class:"btn btn-danger btn-xs" %>
        <br>
        <br>
        <h3>Selected Tags</h3>
        <br>
        <br>


        <% current_user.user_tags.each do |user_tag| %>
          <% if user_tag.tag != nil %>
          <div class="form-group" >
            <button class="btn btn-info" >
              #<%= user_tag.tag.name %>
            </button>
          </div>
          <% end %>
        <% end %>

        <br>
        <br>
        <br>

      </div>
    </div>
    <!--Priority memo area-->
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" >
      <% if current_user.user_tags.count > 0 %>

        <% if current_user.user_tags.map(&:tag_id) & Memo.all.map(&:tag_id) != [] %>

         <% if Memo.where(:priority => true).count > 0 %>


          <% if Memo.where(:priority => true, :tag_id =>  current_user.user_tags.map(&:tag_id)).count > 0%>
         <div class="container">
          <%= link_to priority_page_index_path do %>
         <button class="btn btn-default btn-lg" type="submit" style="width:98%"> you have <%= Memo.where(:priority => true, :tag_id =>  current_user.user_tags.map(&:tag_id)).count %> priority memos
          <br>
         </button>
          <% end %>
         </div>
          <% end %>


         <% end %>
         <br>
         <br>

         <h1>Memos</h1>

               <div class="container" style="height:400px; overflow-y:scroll">
                 <div >
              <% @memos.each do |memo| %>
                <% if current_user.user_tags.map(&:tag_id).include?(memo.tag.id) %>
                <%= link_to memo do %>
                <button class="btn btn-default btn-lg " type="submit" style="width:100%">
                     <p style="text-align:left"><%= memo.author %></p>
                     <p style="text-align:left"><%= memo.content %></p>
                     <p style="text-align:left"><%= memo.tag.name %></p>
                     <p style="text-align:left"><%= memo.date %></p>
               </button>
                   <br>
                   <% end %>
              <br>
                  <% end %>
                  <% end %>
                </div>
              </div>


          <% end %>
      <% end %>

  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
    <span></span>
  </div>
</div>


<!-- end of Memos -->
