<div class="container" >
<p id="notice"><%= notice %></p>
<div class="container" style="width:60%">

    <div class="row " style="height:30px">
      <div class="col-xs-6">
        <strong><%= @memo.author%></strong>
      </div>
      <div class="col-xs-6" style="text-align:right">
        <% if @memo.priority %>
        <strong>Priority</strong>
        <% end %>
      </div>
    </div>


     <div style="height:150px">
       <strong><%= @memo.title %></strong>
       <div><%= @memo.content %></div>
     </div>


  <div class="row" style="height:20px">
    <div class="col-xs-6">
    <strong>#<%= @memo.tag.name %></strong>
    </div>
    <div class="col-xs-6" style="text-align:right">
    <strong><%= @memo.date %></strong>
    </div>
  </div>


  <div>
    <strong>Attachment:</strong>
    <%= link_to image_tag(@memo.image.url, class: 'media-object'), @memo.image.url, target: '_blank' %>
  </div>

<br>
<br>

  <div >
    <strong>Response:</strong>
    <div style="height:120px; overflow-y:scroll">
    <% @memo.responses.each do |r| %>
    User<%= r.user.id %> : <%= r.content %>
    <br>
    <% end %>
    </div>
  </div>


  <div>
    <%= form_for @response do |f| %>
    <div class="form-group">
      <strong> Your Response </strong><br>
      <%= f.text_area :content, class:"form-control" %>
    </div>

    <div class="form-group">
       <%= f.hidden_field :user_id, :value => current_user.id %>
    </div>
    <div class="form-group">
       <%= f.hidden_field :memo_id, :value => @memo.id %>
    </div>

    <div class="actions">
       <%= f.submit class:"btn btn-default form-control"%>
    </div>
       <% end %>
  </div>


  <% if current_user.admin %>
  <%= link_to 'Edit', edit_memo_path(@memo), class:"btn btn-default"%>
  <% end %>
  <% if @memo.priority %>
  <%= link_to 'back', priority_page_index_path, class:"btn btn-default"%>
  <% else %>
  <%= link_to 'back', memos_path , class:"btn btn-default"%>
  <% end %>

</div>
</div>
