<%= form_for(admin) do |f| %>
  <% if admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin.errors.count, "error") %> prohibited this admin from being saved:</h2>

      <ul>
      <% admin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<form class="form-horizontal" >

  <div class="row" align="center">
      <%= f.label :title %>
      <%=f.text_field :title %>
  </div>

<div class="form-group" align="center">
  <label for="author"><%= f.label :author %></label>
  <div><%=f.text_field :author %></div>
</div>

<div class="form-group" align="center">
  <label for="date"><%= f.label :date %></label>
  <div><%= f.date_select :date %></div>
</div>

<div class="form-group" align="center">
  <label for="tag"><%= f.label :tag %></label>
  <div><%= f.text_field :tag %></div>
</div>

  <div class="form-group" align="center">
    <label for="tag"><%= f.label :content %></label>
    <div><%= f.text_area :content %></div>
  </div>

  <div class="form-group" align="center">
    <label for="tag"><%= f.label :attachment %></label>
    <div margin= "0 auto"><%= f.text_field :attachment %></div>
  </div>

  <div  align="center">
    <%= f.submit %>
  </div>

</form>
<% end %>
