<p id="notice"><%= notice %></p>

<h1>Penn Memo</h1>

<table>
  <thead>
    <tr>
      <th>Author</th>
      <th>Title</th>
      <th>Date</th>
      <th>Tag</th>
      <th>Content</th>
      <th>File</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admins.each do |admin| %>
      <tr>
        <td><%= admin.Author %></td>
        <td><%= admin.Title %></td>
        <td><%= admin.date %></td>
        <td><%= admin.tag %></td>
        <td><%= admin.Content %></td>
        <td><%= admin.file %></td>
        <td><%= link_to 'Show', admin %></td>
        <td><%= link_to 'Edit', edit_admin_path(admin) %></td>
        <td><%= link_to 'Destroy', admin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin', new_admin_path %>
