<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @admin.Author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @admin.Title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @admin.date %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @admin.tag %>
</p>

<p>
  <strong>Content:</strong>
  <%= @admin.Content %>
</p>

<p>
  <strong>File:</strong>
  <%= @admin.file %>
</p>

<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>
