<p id="notice"><%= notice %></p>

<h1>Responds</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Memo</th>
      <th>Respond content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @responds.each do |respond| %>
      <tr>
        <td><%= respond.user_id %></td>
        <td><%= respond.memo_id %></td>
        <td><%= respond.respond_content %></td>
        <td><%= link_to 'Show', respond %></td>
        <td><%= link_to 'Edit', edit_respond_path(respond) %></td>
        <td><%= link_to 'Destroy', respond, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Respond', new_respond_path %>
