
<div class="container" >
<div  >
<h1>Priority Memos</h1>
</div>

<% if current_user.user_tags.map(&:tag_id) & Memo.all.map(&:tag_id) != [] %>

<div class="container" style="height:400px;overflow-y:scroll">
  <div >
<% @memos.each do |memo| %>
 <% if memo.priority == true%>
 <% if current_user.user_tags.map(&:tag_id).include?(memo.tag.id) %>
 <%= link_to memo do %>
 <button class="btn btn-default btn-lg " type="submit" style="width:100%">
      <p style="text-align:left">From:&nbsp;<%= memo.author %></p>
      <p style="text-align:left"><%= memo.content %></p>
      <div class="row">
        <div class="col-xs-6">
          <p style="text-align:left">#<%= memo.tag.name %></p>
        </div>
        <div class="col-xs-6">
          <p style="text-align:right"><%= memo.date %></p>
        </div>
      </div>
</button>
    <br>
    <% end %>
<br>
   <% end %>
   <% end %>
   <% end %>
 </div>
</div>

<% end %>

<%= link_to 'Back to mainpage', memos_path, class:"btn btn-default" %>
</div>
