<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @response.content %>
</p>

<p>
  <strong>User_id:</strong>
  <%= @response.user_id %>
</p>

<p>
  <strong>Memo_id:</strong>
  <%= @response.memo_id %>
</p>

<%= link_to 'Edit', edit_response_path(@response) %> |
<%= link_to 'Back', responses_path %>
