
<p id="notice"><%= notice %></p>
  <div class="row" >
    <!--Tag list area-->
    <div id="rsp-area" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 collapse" style="width:150px ">
      <div class="container" >

      <br>
      <br>
      <br>
      <br>
      <br>
        <%= link_to "Add tag", new_user_tag_path, class:"btn btn-success btn-xs" %> <%= link_to "Delete tag", user_tags_path, class:"btn btn-danger btn-xs" %>


        <h3>Tags</h3>



        <% current_user.user_tags.each do |user_tag| %>
          <% if user_tag.tag != nil %>
          <div class="form-group" style="width:130px">
            <%= link_to :controller=>"memos", :action => "sort", :field => "#{user_tag.tag.id}" do%>
            <button id="myBtn" class="btn btn-default form-control" >
              #<%= user_tag.tag.name %>
            </button>
              <% end %>
          </div>


          <% end %>
        <% end %>

        <br>
        <br>
        <br>

      </div>
  </div>

    <!--Priority memo area-->
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" >
      <div  style="width:600px">

        <div class="container" >
          <div class="row">
            <div class="col-xs-6">
            <button id="tagchoose" type="button" class="btn btn-default " data-toggle="collapse" data-target="#rsp-area">
              Choose Tag
            </button>
            </div>

            <div class="col-xs-6" align="right">

              <form class="form-inline">
                <%= form_tag(memos_path, :method => "get", id: "search-form") do %>
                <div class="form-group">
                  <%= text_field_tag :search, params[:search], placeholder: "Search",class:"form-control"%>
                </div>
                <div class="form-group">
                  <%= submit_tag "Go", class:"btn btn-default form-control"%>
                </div>
            <% end %>
            </form>

            </div>

          </div>
        </div>

        <br>
        <br>


      <% if current_user.user_tags.count > 0 %>

        <% if current_user.user_tags.map(&:tag_id) && @memos.map(&:tag_id) != [] %>


         <% if @memos.where(:priority => true).count > 0 %>


          <% if @memos.where(:priority => true).count - Unread.where(:user_id => current_user.id, :notification => true, :memo_id => @memos.map(&:id)).count > 0%>
         <div class="container">
          <%= link_to priority_path do %>
         <button class="btn btn-default btn-lg" type="submit" style="width:98%"> you have <%= @memos.where(:priority => true).count - Unread.where(:user_id => current_user.id, :notification => true, :memo_id => @memos.map(&:id)).count %> Unread priority memos

         </button>
          <% end %>
         </div>
          <% end %>


         <% end %>



         <div class="container">
           <h1>Memos- #<%= Tag.find(params[:field]).name %></h1>
         </div>

               <div class="container" style="height:400px; overflow-y:auto">

              <% @memos.each do |memo| %>
                <% if current_user.user_tags.map(&:tag_id).include?(memo.tag.id) %>
                <div >
                <%= link_to activate_notification_path(memo) do %>
                <button class="btn btn-default btn-lg " type="submit" style="width:100%; height:120px">
                     <p style="text-align:left; overflow-x:hidden">
                       <strong>From:</strong>&nbsp;<%= memo.author %>
                     </p>
                     <p style="text-align:left; word-break:break-all; overflow-x:hidden">
                       <%= memo.content%>
                     </p>

                     <div class="row">
                       <div class="col-xs-6">
                         <p style="text-align:left"><strong>#<%= memo.tag.name %></strong></p>
                       </div>
                       <div class="col-xs-6">
                         <p style="text-align:right"><%= memo.date %></p>
                       </div>
                     </div>
               </button>
               <% end %>
             </div>
                  <% end %>
                  <br>
                  <% end %>
                </div>
              </div>


          <% end %>
      <% end %>
</div>

<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
  <div class="container">
  </div>
</div>

  </div>






<!-- end of Memos -->
