

<!DOCTYPE html>
<html>

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Penn-memo" %></title>
  <%= csrf_meta_tags %>

  <!-- For third-generation iPad with high-resolution Retina display: -->
  <!-- Size should be 144 x 144 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

  <!-- For iPhone with high-resolution Retina display: -->
  <!-- Size should be 114 x 114 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

  <!-- For first- and second-generation iPad: -->
  <!-- Size should be 72 x 72 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <!-- Size should be 57 x 57 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

  <!-- For all other devices -->
  <!-- Size should be 32 x 32 pixels -->
  <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>



    <title>PennMemo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>




  <body>




  <% if current_user%>



    <nav class="navbar navbar-default navbar-static-top">
        <a class="navbar-brand" href="#"> Penn-memo</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <% if current_user.admin  %>
            <li><%= link_to "Admin", rails_admin_path%></li>
            <li><%= link_to "New Memo", new_memo_path  %></li>
            <li><%= link_to "Response List", responses_path  %></li>
            <li><%= link_to "Memo List", memolist_index_path  %></li>
            <% end %>
            <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
    </nav>




<div style="height:600px;">
    <%= yield %>
</div>




<div class="container">
  <br>
  <br>
  <br>
  <br>

</div>

<footer>
<div class="shell clearfix">
  <div class="container" >
  </div>

  <div class="container" align="center">
    <br>
      <p>&copy; Penn-medicine 2016 All rights reserved.</p>
  </div>

</div>
</footer>





      <% else %>

<div style="height:600px;">
      <%= yield %>
</div>

      <footer>
      <div class="shell clearfix">
        <div class="container" >
        </div>

        <div class="container" align="center">
          <br>
            <p>&copy; Penn-medicine 2016 All rights reserved.</p>
        </div>

      </div>
      </footer>

      <% end %>


  </body>
</html>
